

#map {
    justify-content: center;
    height: 1100px;
    width: 1000px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    border: black;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
}





#sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #f5f5f5;
  overflow: hidden;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #00ccff;
}


.job-buttons {
  margin-bottom: 10px;
}
.job-buttons button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #00ccff;

}
.flyplusdata {
  display: flex;
  flex-direction: row;

}

.airport-info {
  margin-top: 10px;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #00ccff;
  height: 300px;
  width: 50%;


}
.pdata {
  margin-top: 10px;
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #00ccff;
  height: 300px;
  width: 50%;
}
.visited-list {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  background: white;
  padding: 10px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #00ccff;
}
.visited-list h4 {
  margin-top: 0;
}
#flyButton {
  background: #0f2027;
  width: 70px;
  height: 50px;
  font-size: 30px;
  color: #00ccff;
}






