* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;

}

body {

    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #00ccff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

.selection {
    text-align: center;
    display: flex;
    width: 150px;
    align-items: center;



}

.player label {
    white-space: nowrap;
    font-size: 3rem;
}

.player {

}



.player p {
    font-size: 9rem;
    margin: 0;
}

.blue p {
    color: Blue;
}

.red p {
    color: red;
}

.blue {
    margin-left: 500px;
    margin-right: 300px;

}

.start {
    display: flex;
    text-align: center;
    justify-content: center;
/ justify-items: center;
/ margin-bottom: 0;
}


.start button {
    font-size: 3rem;
    padding: 20px;
    padding-left: 5rem;
    padding-right: 5rem;
    background: #2A3663;
    border-radius: 9px;
    color: #D8DBBD;
}
